[project]
name = "hacknation"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "google-cloud-aiplatform[adk,agent-engines]>=1.128.0",
]
